[Unit]
Description=Dropbear SSH daemon
After=syslog.target network.target auditd.service

[Service]
ExecStart=/usr/sbin/dropbear -F -R -B -i
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket

[Install]
WantedBy=multi-user.target
